.Mynavbar {
    width: 100vw;
    height: 15vh;
    background-color: #2DACE3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Mytitle{
    margin-top: 10px;
    margin-bottom: 5px;
}
